main{
    display: flex;
    justify-content: center;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    width: 800px;
    height: 600px;
    background-color: aliceblue;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 0px 30px rgb(73, 73, 73);
}

#foto{
    display: flex;
    justify-content: center;
}

#foto>img{
    cursor: pointer;
    border-radius: 100%;
    margin-bottom: 20px;
}

#foto>img:hover{
    background-color: rgb(5, 31, 177);
    transition: 0.5s;
}


#container>form>input{
    font-size: 40px;
    margin-bottom: 30px;
    padding: 10px 20px;
    border-radius: 50px;
    box-shadow: 0px 0px 5px rgb(73, 73, 73);
}

#container>form>input:hover{
    box-shadow: 0px 0px 15px rgb(0, 132, 255);
    transition-duration: 0.5s;
}

#container>form>input:focus{
    box-shadow: 0px 0px 15px rgb(5, 78, 161);
    transition-duration: 0.5s;
}

#container>form>input::placeholder{
    color: rgb(165, 165, 165);
}

#container>form>#entrar{
    margin-top: 5px;
    font-size: 40px;
    padding: 10px 210px;
    border-radius: 50px;
    cursor: pointer;
    background-color:  rgb(0, 132, 255);
    color: aliceblue;
    font-weight: 600;
    text-shadow: 0px 2px 2px rgb(68, 67, 67);
    border: none;
    margin-bottom: 10px;
}

#container>form>#entrar:hover{
    background-color: rgb(5, 78, 161);
    transition-duration: 0.5s;
}

#container>form>#entrar:focus{
    background-color: rgb(2, 30, 63);
    transition-duration: 0.5s;
}


#atribuicao{
    margin-top: 40px;
    font-size: 40px;
    font-weight: 600;
    color: aliceblue;
    text-shadow: 0px 2px 5px rgb(0, 0, 0);
    transition-duration: 0.5s;
}

#atribuicao:hover{
    color: rgb(204, 228, 248);
}