@media screen and (min-width: 1600px){    
    #container{
        margin-top: 60px;
        width: 800px;
        height: 630px;
    }

    #foto>img{
        width: 230px;
        margin-bottom: 20px;
    }

    #container>form>input{
        width: 450px;
        font-size: 35px;
        margin-bottom: 30px;
        margin-left: 15px;
    }

    #container>form>#entrar{
        font-size: 35px;
        padding: 10px 194px;
        margin-left: 20px;
    }

    #info{
        font-size: 35px;
        width: 350px;
        height: 230px;
        margin-top: 200px;
        margin-left: -330px;
        margin-right: 330px;
    }

    #erro{
        font-size: 30px;
        width: 320px;
        height: 150px;
        text-align: center;
        margin-left: 1250px;
        margin-top: -185px;
        margin-bottom: 81px;
    }
    
    #atc{
        font-size: 35px;
        width: 320px;
        height: 150px;
        text-align: center;
        margin-left: 1250px;
        margin-top: -185px;
        margin-bottom: 71px;
    }


    footer>p{
        margin-top: 76px;
    }
}