@media screen and (min-width: 412px){
    header{
        padding: 13px;
    }

    header>nav>a{
        font-size: 22px;
    }
    
    #container{
        margin-top: 185px;
        margin-left: -300px;
        width: 320px;
        height: 350px;
    }

    #foto>img{
        width: 120px;
        margin-bottom: 10px;
        margin-top: 0px;
    }

    #container>form>input{
        width: 250px;
        font-size: 20px;
        margin-bottom: 20px;
        margin-left: 0px;
    }

    #container>form>#entrar{
        font-size: 20px;
        padding: 10px 118px;
        margin-left: 0px;
    }

    #info{
        font-size: 20px;
        width: 350px;
        height: 110px;
        margin-top: 20px;
        margin-left: 5px;
        margin-right: -55px;
    }

    #erro{
        font-size: 20px;
        width: 280px;
        height: 110px;
        text-align: center;
        margin-left: 60px;
        margin-top: 0px;
        margin-bottom: -130px;
    }
    
    #atc{
        font-size: 25px;
        width: 280px;
        height: 100px;
        text-align: center;
        margin-left: 60px;
        margin-top: 0px;
        margin-bottom: -125px;
    }


    footer>p{
        margin-top: 210px;
        font-size: 20px;
    }
}